.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.bar{
  background-color: #0B2447;
  display: flex;
  width: 100%;
  height: 4em;
  margin: 10px;
  color: white;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.bar > p{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.bar > svg{
  cursor: pointer;
}