.card{
    background-color: #0B2447;
    margin: 10px;
    padding: 10px;
    color: white;
    padding: 20px;
}

.card > p:nth-child(1){
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    
}
.card > p:nth-child(1):hover{
    color: #A5D7E8;
    
}
.card > p:nth-child(2){
    margin-left: 10px;
    margin-top: 1em;
}

.stack{
    margin-top: 1em;
    display: flex; 
    flex-direction: row;
}

.stack > p{
    margin-left: 10px;
    font-weight: bold;
}